<div class="row" style="height: 200px;"></div>

<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="black-box menu-padding shadow">

      <div class="row">

        <div class="col-md-3">
          <div class="add-bt-bod">
            <abbr title="This feature is disabled in this demo">
            <%#= link_to new_product_path, class: 'index-link' do %>
              <%= image_tag('trolley.svg', style:'height: 100px; width: 100px; cursor:not-allowed;') %> <!-- Icons from: https://www.flaticon.com -check user agreement -->
            <%# end %>
            </abbr>
          </div>
        </div>

        <div class="col-md-3">
          <div class="add-bt-bod">
            <%= link_to products_path, class: 'index-link' do %>
              <%= image_tag('tools.svg', style:'height: 100px; width: 100px;') %>
            <% end %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="add-bt-bod">
            <%= link_to tags_path, class: 'index-link' do %>
              <%= image_tag('contract.svg', style:'height: 100px; width: 100px;') %>
            <% end %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="add-bt-bod">
            <%= link_to transcribed_tags_path, class: 'index-link' do %>
            <%= image_tag('clipboard.svg', style:'height: 100px; width: 100px;') %>
            <% end %>
          </div>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-md-3">
          <div class="add-bt-bod">
            <strong class="add-orange">create a product<%#= link_to 'Products', products_path, class: 'index-link' %></strong>
          </div>
        </div>
        <div class="col-md-3">
          <div class="add-bt-bod">
            <strong class="add-orange">manage products<%#= link_to 'New Product', new_product_path, class: 'index-link'%></strong>
          </div>
        </div>
        <div class="col-md-3">
          <div class="add-bt-bod">
            <strong class="add-orange">transcribe tags<%#= link_to 'Transcribe tags', tags_path, class: 'index-link'%></strong>
          </div>
        </div>
        <div class="col-md-3">
          <div class="add-bt-bod">
            <strong class="add-orange">view transcriptions</strong>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-2"></div>
</div>

<div style="height: 360px;"></div>
<div>
  Icons made by
  <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
    Freepik
  </a>
  from
  <a href="https://www.flaticon.com/" title="Flaticon">
    www.flaticon.com
  </a>
</div>
